<div>

    <h4>ADMIN</h4>
    <p>Use the Buttons to advance the game prematurely if u wish, don't go too quick though</p>

    <button  v-if="appState.gameState == 0" @click="startGame()">
        Start Game
    </button>

    <button  v-if="(appState.gameState == 1) && (appState.roundState < 5)" @click="nextPhase()">
        Next Phase
    </button>

    <button  v-if="(appState.gameState == 1) && (appState.roundState == 5) && (appState.round < 3)" @click="nextRound()">
        Next Round
    </button>

    <button  v-if="(appState.gameState == 1) && (appState.roundState == 5) && (appState.round == 3)" @click="endGame()">
        End Game
    </button>

    <p id="adminErrorPrompt"></p>

</div>